.p-10{
    padding: 10px;
}

.m-10{
    margin: 10px;
}

.mt-20{
    margin-top: 20px;
}

.underline-text{
    text-decoration: underline;
    text-decoration-color: #dfebe9;
    text-decoration-thickness: 10px;
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
    text-underline-offset: -6px;
    letter-spacing: -1.5px;
}

.text-center{
    text-align: center;
}