.profile-container {
    display: flex;
    align-items: center;
  }
  
  .profile-avatar {
    width: 50px;
    height: 50px;
    background-color: #34d88c1c !important;
      color: rgb(16, 76, 64) !important;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    margin-right: 10px;
  }
  
  .profile-nav{
    display: flexa;
    align-items: center;
  }